<div class="card text">
    <h4 class="card-header d-flex justify-content-between" style="background-color: antiquewhite">
        BIDDER LIST
        <a class="btn btn-sm btn-outline-primary" href="/admin/user/bidder/add" role="button">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add Bidder
        </a>
    </h4>

    <table class="table" style="text-align: center">
        <thead>
        <tr class="table-active">
            <th scope="col">UserID</th>
            <th scope="col">Username</th>
            <th scope="col">Type</th>
            <th scope="col">Activate</th>
            <th scope="col" style="text-align: center">Modification</th>
        </tr>
        </thead>
        <tbody>
        {{#each this.bidderList}}
            <tr class="table-info">
                <th scope="row">{{UserID}}</th>
                <td>{{Username}}</td>
                <td>{{Type}}</td>
                <td>{{Activate}}</td>
                <td class="text-center">
                    <a class="btn btn-sm btn-primary" href="#" role="button">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        Edit
                    </a>

                    <a class="btn btn-sm btn-danger" href="#" role="button">
                        <i class=" fa fa-trash" aria-hidden="true"></i>
                        Delete
                    </a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>